.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  padding-top: 64px;
}

.Main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 24px;
}

.Landing {
  background-color: darkslategray;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Very weird issue where the charts are affected by the .App text-align: center ????????? making them not working properly, hours and hours were wasted here */
.Chart {
  text-align: left;
}