.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.Main {
  background-color: darkslategrey;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 24px;
}

